@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome</h1>
<hr/>
<div>

    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default" style="height: 200px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            @Html.ActionLink("Create New Customer", "Create", "Customer")
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-default" style="height: 200px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Bank Account</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            @Html.ActionLink("Create New Bank Account", "Create", "BankAccount")
                        </li>
                        <li>
                            @Html.ActionLink("Close Bank Account", "Close", "BankAccount")
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-default" style="height: 200px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Transactions</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            @Html.ActionLink("Withdraw", "NewWithdrawal", "Withdraw")
                        </li>
                        <li>
                            @Html.ActionLink("Deposit", "NewDeposit", "Deposit")
                        </li>
                        <li>
                            @Html.ActionLink("Bank Transfer", "NewTransfer", "BankTransfer")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>